* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#title-content {
  text-align: center;
  font-size: 30px;
}

#first-section {
  background-color: aqua;
  text-align: center;
  margin: auto;
  padding: 5px, 0;
  font-size: 20px;
}

#second-section {
  text-align: center;
  margin-top: 20px;
}

#second-section ul > li {
  padding-top: 1em;
  padding-bottom: 1em;
  display: inline-block;
  list-style: none;
}

#second-section h3 {
  font-size: 20px;
}
/* Already Done */

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin: auto;
  list-style: none;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
}